<html>
    <%- partial('_partial/head') %>
<body>
    <div class="wrapper">
        <div class="header-wrap">
            <%# Menu %>
            <%- partial('_partial/header') %>
        </div>
        <div class="content-wrap">
            <div id="wsite-content" class="wsite-elements">
                <%# Main Content %>
                <%- body %>
            </div>
        </div>
        <div class="footer-wrap">
            <%- partial('_partial/footer') %>
        </div>
    </div>
</body>
<script>
    const cur_page = document.getElementById("/<%=page.title%> ")
    const body = document.getElementsByClassName("body")
    if (cur_page){
        cur_page.parentElement.setAttribute('id','active')
    }
    document.body.setAttribute('class','no-header-page  wsite-page-index wsite-theme-light')
</script>
</html>