<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (theme?.description) { %>
        <meta name="description" content="<%= url_for(theme.description)%>">
    <% } %>
    <meta name="author" content="">
    <% if (theme?.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.favicon)%>">
    <% } %>
    <title><%- config.title%></title>
    <%- css('css/style.css') %>
    <%- css('css/fonts.css') %>
</head>